@use "sass:map";
@import "../../styles/constants";

.blog-details {
  max-width: var(--page__contentMaxWidth);
  margin: var(--page__topPadding) auto 0 auto;
  width: 100%;
  text-align: center;

  .head {
    text-align: center;
    margin: 0 0 50px;
    h2 {
      font-size: 50px;
      margin: 0 0 20px;

      div {
        text-align: center;
      }
    }
    .meta span {
      font-size: 14px;
      padding: 0 10px;
      border-right: 2px solid #b8b8b8;
      line-height: 0.9;
      display: inline-block;
      color: #9a9a9a;
    }
    .meta span:last-child {
      border-right: none;
    }
    .tags {
      display: flex;
      justify-content: center;
      gap: 15px;
      flex-wrap: wrap;
      max-width: 710px;
      margin: 15px auto;
      span {
        border: 1px solid #9a9a9a;
        color: gray;
        background: transparent;
        padding: 5px 10px;
      }
    }
  }

  .content {
    margin: 0 auto;
    width: 100%;
    max-width: 85%;
    img {
      max-width: 50%;
      margin-bottom: 50px;
    }
    p {
      font-size: 17px;
      color: #444444;
      font-weight: 400;
      line-height: 1.5;
      margin: 0 0 40px;
      text-align: left;
    }
    h3 {
      text-align: left;
      margin-bottom: 25px;
    }
    li {
      list-style: disc !important;
    }
    .wp-block-button__link {
      background-color: #9c8ec1;
      color: #ffffff;
      padding: 8px 15px;
      margin: 8px 0px;
      display: block;
      width: max-content;
    }
  }
}

.news-letter {
  max-width: var(--page__contentMaxWidth);
  margin: 100px auto;
  width: 100%;
  h2 {
    text-align: center;
  }
  .news-body {
    margin: 40px auto;
    width: 100%;
    max-width: 70%;
    background-image: url("../../images/Newsletter_bg.png");
    height: 420px;
    form {
      max-width: 65%;
      margin: 0 auto;
      width: 100%;
      padding: 60px;
    }
    button {
      width: 100%;
      height: 48px;
    }
    input {
      height: 48px;
    }
    .after-message {
      text-align: center;
      padding: 191px 0;
    }
  }
}

.blog-details {
  .content {
    img {
      max-width: 100%;
    }
    p {
      figure {
        max-width: 50%;

        &.size-large {
          max-width: 100%;
        }
      }
    }
    .wp-block-media-text {
      display: flex;
      justify-content: space-between;
      margin-left: -15px;
      margin-right: -15px;

      .wp-block-media-text__media {
        padding: 15px;
      }
      .wp-block-media-text__content {
        max-width: 50%;
        padding: 15px;
      }
    }
    .has-media-on-the-right {
      flex-direction: row-reverse;
    }
    .has-large-font-size {
      // text-align: center;
      text-align: left;
      max-width: 743px;
      // color: #9a9a9a;
      font-size: 32px;
      margin: 0 auto;
    }
    .has-text-align-center {
      font-size: 37px;
      color: #151515;
      text-align: center;
    }
  }
}

@media only screen and (max-width: map.get($breakpoints, "mobile")) {
  .blog-details .head h2 {
    font-size: 38px;
  }
  .blog-details {
    .content {
      p figure {
        max-width: 100%;
      }

      .wp-block-media-text {
        flex-direction: column;

        .wp-block-media-text__content {
          max-width: 100%;
        }
      }
      .wp-block-media-text {
        img {
          margin-bottom: 0;
        }
      }
      .wp-block-media-text__media {
        margin-bottom: 0;
      }
    }
  }

  .blog-details .head {
    .tags {
      display: flex;
      gap: 25px;
      span {
        font-size: 12px;
      }
    }
  }
  .news-letter {
    margin: 0;
    h2 {
      font-size: 22px;
      margin-bottom: 10px;
    }
    .news-body {
      margin: 0 auto;
      max-width: 100%;
      height: auto;
      form {
        padding: 25px 5px;
        max-width: 100%;
      }
      .after-message {
        text-align: center;
        padding: 132px 0;
      }
    }
  }
}

@media only screen and (max-width: "900") {
  .blog-details .head {
    .tags {
      display: flex;
      gap: 30px;
      span {
        font-size: 15px;
      }
    }
  }
}
