.signupButton {
    background-color: #799ad5;
    color: white;
    font-family: inherit;
    font-size: 16px;
    outline: none;
    border: none;
    // padding: 10px 10px;
    margin: 6px auto;
    width: 99px;
    height: 42px;
    border-radius: 5px;
}
