@use "sass:map";
@import "constants";

.faqs__footnote span {
    color: #6480e1;
    border-bottom: 2px solid #6480e1;
}

a {
    text-decoration: none;
}

.faqs__footnote {
    text-align: left;
    max-width: 1000px;
    font-family: Cabin;
    margin: 0 auto;
    font-weight: 400;
    font-size: 32px;
    padding: 0px 15px;
    line-height: 58px;
    margin-bottom: 184px;
}

@media only screen and (max-width: map.get($breakpoints, "mobile")) {
    .faqs__content-wrapper {
        position: absolute;
        top: 0px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding-left: var(--page__sidePadding);
        padding-right: var(--page__sidePadding);
    }
    .faqs__container {
        height: 700px;
    }
    .faqs__hero-text {
        font-family: Cabin;
        font-weight: 400;
        font-size: 56px;
        line-height: 62px;
        min-width: 100%;
        margin-top: 70px;
    }
}

.faqs__header {
    font-family: Cabin;
    font-weight: 400;
    font-size: 52px;
    line-height: 58px;
    margin-top: 73px;
    margin-bottom: 38px;
}

.accord-heading {
    font-family: Cabin;
    font-weight: 500px;
    font-size: 19px;
    line-height: 28px;
}

.faqs__questionnnaire-companies {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.faqs__questionnaire-companies {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 15px;
}

.faqs__questionnaire-consumers {
    margin-bottom: 75px;
}

.accord-item__toggle {
    padding: 0px 8px;
    background-color: #799ad5;
    border: none;
    color: #ffffff;
    align-self: center;
    margin-left: 17px;
}

.accord__container {
    display: flex;
    justify-content: space-between;
}

.accord-item__toggle--expanded {
    background-color: #d7d7d7;
    color: #799ad5;
}

.accord-content {
    max-width: 705px;
}

li {
    list-style: none;
}

.accord-heading-content {
    padding: 15px 0px;
    flex: auto;
    border-bottom: 1px solid lightgray;
}

.faqs__fotenote_inside_text {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;

    p {
        color : #151515;
        margin-bottom: 5px;
        font-weight: 500;
        font-size: 19px;
        line-height: 23px;
    }

    a {
        font-weight: 400;
        font-size: 19px;
        line-height: 23px;
        letter-spacing: 0.2px;
        text-decoration-line: underline;
        color: #6480E1;
    }
}

.accord-item {
    .accord-heading-content {
        font-family: Cabin;
        font-weight: 400px;
        font-size: 20px;
        line-height: 40px;
    }
}

.faqs__footnote_consumer {
    margin: 60px 0px;
}

.faq-banner {
    background: #B6ABD1;
    padding-top: 54px;
    margin-top: 20px;
}

.faq-banner h1 {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

@media only screen and (max-width: map.get($breakpoints, "medium")) {
    .accord-content {
        width: 500px;
    }
    .faq-banner h1 {
        font-size: 45px;
    }
}
@media only screen and (max-width: map.get($breakpoints, "mobile")) {
    .accord-content {
        width: 400px;
    }
    .faqs__header {
        font-size: 38px;
    }
    .faqs__fotenote_contact_us {
        font-size: 28px;
        line-height: normal;
    }
    .faq-banner h1 {
        text-align: center;
        font-size: 35px;
        line-height: normal;
    }
}
